/*****************************************************/
/*STYLE GENERAL DU SITE*/
/*****************************************************/

/*GENERAL */

body {
  background-color: #313064;
}

h1 {
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  color: #bf7641;
  font-size: 25px;
}

h2 {
  font-family: "Lovelo-Black", sans-serif;
  color: #faf8e8;
  font-size: 12px;
}

h3 {
  font-family: "TT Chocolates", sans-serif;
  color: #313064;
}

h4 {
  font-family: "TT Chocolates", sans-serif;
  color: #313064;
}

h5 {
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  color: #bf7641;
  font-size: 15px;
}

p,
.justify-text {
  font-family: "TT Chocolates", sans-serif;
  color: #faf8e8;
  font-size: 10px;
}

.justify-text {
  text-align: justify;
}

.hautpage:link,
.hautpage:active {
  color: black;
}

.hautpage:visited {
  color: grey;
}

.imghp:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition: all 1s ease;
  -moz-transform: scale(1.1);
  -moz-transition: all 1s ease;
  -ms-transform: scale(1.1);
  -ms-transition: all 1s ease;
}

.imghp {
  width: 40px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

.error {
  font-family: "Lovelo-Black", sans-serif;
  color: #faf8e8;
  font-size: 20px;
}

.voiture,
.ecrous,
.moteur {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 20px;
}

.intro {
  margin-right: 10px;
  font-size: 15px;
}

.title {
  display: flex;
  flex-direction: row;
}

.title:hover {
  opacity: 0.5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

main {
  margin-left: 2%;
}

.alerte {
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  color: #bf7641;
  background-color: #faf8e8;
  width: 60%;
  margin-left: 100px;
  border-radius: 10px;
}

/*****************************************************/
/*HEADER*/

header {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.logo:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition: all 1s ease;
  -moz-transform: scale(1.1);
  -moz-transition: all 1s ease;
  -ms-transform: scale(1.1);
  -ms-transition: all 1s ease;
}

.main-nav {
  margin-top: 20px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-family: "Lovelo-Black", sans-serif;
  color: #faf8e8;
  font-weight: bold;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.main-nav a:link {
  color: #faf8e8;
  text-decoration: none;
}

.main-nav a:visited {
  color: #faf8e8;
}

.active {
  text-decoration: underline;
}

.btn-conn {
  margin-top: 50%;
  margin-left: 30px;
  width: 75%;
  border: none;
  color: #bf7641;
  font-size: 10px;
  background-color: #faf8e8;
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-conn:hover {
  opacity: 0.5;
}

.main-nav a:hover {
  color: #a6adb1;
  text-decoration: none;
}

/*****************************************************/
/*PAGE ACCUEIL*/

.title2 {
  margin-top: 20px;
}

.images1 {
  display: flex;
  flex-direction: row;
}

.illu1 {
  width: auto;
  height: 100px;
  margin-right: 5px;
}

/* Livre d'or*/

.livre-or {
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-gap: 5px;
}

.advice-title {
  flex-direction: column;
}

.star {
  width: 3px;
  height: 3px;
  margin-top: 10px;
}

.feature {
  padding: 5px 15px 5px 15px;
  background-color: #faf8e8;
  margin-right: 10px;
}

.feature:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  -moz-transform: scale(1.1);
  -moz-transition: all 0.5s ease;
  -ms-transform: scale(1.1);
  -ms-transition: all 0.5s ease;
}

.advice {
  color: #313064;
}

.write-advice {
  font-family: "Lovelo-Black", sans-serif;
  color: #faf8e8;
  text-decoration: none;
}

.write-advice:visited {
  color: #faf8e8;
  text-decoration: none;
}

.write-advice:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/*****************************************************/
/* PAGE SERVICES*/

.services-container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.photos-container {
  margin-top: 25px;
  margin-right: 20px;
  width: 100%;
}

.services-photos {
  width: 100%;
  margin-bottom: 30px;
}

.services-photos:hover {
  opacity: 0.5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.titre-service {
  color: #bf7641;
}

/*****************************************************/
/*PAGE VENTES*/

/*Catalogue */

.cards {
  margin-top: 20px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  background-color: #faf8e8;
}

.card:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition: all 1s ease;
  -moz-transform: scale(1.1);
  -moz-transition: all 1s ease;
  -ms-transform: scale(1.1);
  -ms-transition: all 1s ease;
}

.car-name {
  font-size: 18px;
  color: #313064;
  font-family: "Lovelo-Black", sans-serif;
}

.car-year,
.car-motor,
.car-km {
  color: #313064;
  font-family: "TT Chocolates", sans-serif;
  font-size: 11px;
  line-height: 0.5;
}

.car-price {
  color: #313064;
  font-family: "Lovelo-Black", sans-serif;
  font-size: 25px;
  margin-top: -5px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.car-year,
.car-motor,
.car-km,
.car-name,
.car-price {
  text-align: center;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  background-color: #bf7641;
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  color: #faf8e8;
  width: 80px;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.details:hover {
  opacity: 0.5;
}

/*****************************************************/
/* PAGE DETAILS FICHE VOITURE */

.container-fiche {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  background-color: #faf8e8;
  border: solid #bf7641 4px;
}

.photos-fiche {
  grid-column: 1/1;
  grid-row: 1;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
  grid-gap: 5px;
  display: flex;
  flex-direction: column;
}

.photo-main:hover,
.photo-sec:hover {
  opacity: 0.8;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.description {
  grid-column: 1/1;
  grid-row: 2;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "TT Chocolates", sans-serif;
  color: #313064;
  font-size: 12px;
  line-height: 1.5;
}

.descr-car {
  list-style: none;
}
.options {
  grid-column: 1/1;
  grid-row: 3;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "TT Chocolates", sans-serif;
  color: #313064;
  font-size: 12px;
}

.options-car {
  list-style: none;
  line-height: 1.5;
}

.contact-car {
  grid-column: 1/1;
  grid-row: 4;
  background-color: #bf7641;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.contact-car:hover {
  -webkit-transform: scale(1.05);
  -webkit-transition: all 0.5s ease;
  -moz-transform: scale(1.05);
  -moz-transition: all 0.5s ease;
  -ms-transform: scale(1.05);
  -ms-transition: all 0.5s ease;
}

.photo-main {
  width: 100%;
}

.sec {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.photo-sec {
  margin-top: 5px;
  width: 100%;
  height: auto;
}

.header-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titre-fiche {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.sous-titre-fiche {
  margin-top: 0px;
}

.prix-fiche {
  font-size: 40px;
  margin-top: 10px;
}

.title-light,
.title-light2 {
  color: #faf8e8;
}

.title-light {
  text-align: center;
}

.contact-car3 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contact-car3-1 {
  display: flex;
  flex-direction: row;
}

/*formulaire voiture*/

.contact-car4 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.contact-form-car,
.submit-car {
  font-family: "TT Chocolates", sans-serif;
}

.label-contact-car {
  color: #faf8e8;
}

.form-inputs-car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-input-car,
.form-textarea-car {
  background-color: #faf8e8;
  width: 75%;
  font-family: "TT Chocolates", sans-serif;
  border: none;
}

.form-textarea-car {
  height: 100px;
}

.text-label-car {
  font-size: 15px;
  text-align: end;
}
.contact-input-car {
  margin-left: 200px;
}

.submit-car {
  background-color: #faf8e8;
  border: solid 3px #bf7641;
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.submit-car:hover {
  opacity: 0.8;
}

/*****************************************************/
/* PAGE CONTACT */

/*Localiser + tel*/

.contact-container {
  margin-left: 20px;
  margin-right: 80px;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact-zone {
  grid-column: 1/1;
  grid-row: 1;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

iframe {
  width: 150px;
  height: 200px;
}

.contact-zone2 {
  display: flex;
  flex-direction: column;
}

.contact-zone3 {
  display: flex;
  flex-direction: row;
}

.contact-zone4 {
  line-height: 1;
}

.icon-contact {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.icon-contact:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition: all 1s ease;
  -moz-transform: scale(1.1);
  -moz-transition: all 1s ease;
  -ms-transform: scale(1.1);
  -ms-transition: all 1s ease;
}

/*RS*/
.rs-zone {
  grid-column: 1/1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  font-family: "TT Chocolates", sans-serif;
}

.rs-title {
  margin-top: 0px;
}

.unstyled-list {
  list-style: none;
}

.rs-zone a:link {
  color: #faf8e8;
  text-decoration: none;
}

.rs-zone a:visited {
  color: #faf8e8;
}

.rs-zone a:hover {
  color: #a6adb1;
  text-decoration: none;
}

.rs-zone img {
  vertical-align: middle;
}
.rs-zone li {
  margin-top: 10px;
}

/*formulaire*/
.form-zone {
  grid-column: 1/1;
  grid-row: 3;
}

.contact-form,
.submit {
  font-family: "TT Chocolates", sans-serif;
}

.label-contact {
  color: #faf8e8;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-input,
.form-textarea {
  background-color: #faf8e8;
  width: 75%;
  font-family: "TT Chocolates", sans-serif;
  border: none;
}

.form-textarea {
  height: 200px;
}

.text-label {
  text-align: end;
  font-size: 12px;
}

.contact-input {
  margin-left: 200px;
}

.submit {
  background-color: #faf8e8;
  border: solid 3px #bf7641;
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.submit:hover {
  opacity: 0.8;
}

/*proto-ig*/
.proto-zone {
  grid-column: 1/1;
  grid-row: 4;
  display: flex;
  justify-content: center;
}

.feed-ig {
  width: 250px;
  height: auto;
}

.feed-ig:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition: all 1s ease;
  -moz-transform: scale(1.1);
  -moz-transition: all 1s ease;
  -ms-transform: scale(1.1);
  -ms-transition: all 1s ease;
}

/*****************************************************/
/*PAGE CONNEXION */

.container-connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 200px;
}
.connection {
  width: 300px;
  height: 200px;
  border: #bf7641 2px solid;
  background-color: #faf8e8;
}

.connection-form {
  font-family: "TT Chocolates", sans-serif;
  margin: 30px 10px 30px 10px;
}

.text-label-connection {
  color: #313064;
  font-size: 10px;
  text-align: end;
}

.connection-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.connection-input {
  background-color: white;
  width: 75%;
  height: 30px;
  font-family: "TT Chocolates", sans-serif;
  border: none;
}

.connect {
  background-color: #bf7641;
  color: #faf8e8;
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  border: none;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.connect:hover {
  opacity: 0.8;
}

.connection-button {
  margin-left: 120px;
}

/*****************************************************/
/* PAGE LAISSER UN AVIS */

.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.note {
  width: 300px;
  height: 350px;
  border: #bf7641 2px solid;
  background-color: #faf8e8;
}

.note-form {
  font-family: "TT Chocolates", sans-serif;
  margin: 30px 10px 30px 10px;
}

.note-name,
.note-message {
  color: #313064;
  font-size: 10px;
  text-align: end;
}

.note-message {
  margin-top: 0;
}

.note-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.note-input1,
.note-input2 {
  background-color: white;
  width: 75%;
  font-family: "TT Chocolates", sans-serif;
  border: none;
}

.note-input2 {
  height: 100px;
}

.button-note {
  background-color: #bf7641;
  color: #faf8e8;
  font-family: "Stars & Love Bottom Heavy", sans-serif;
  border: none;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  margin-left: 120px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.button-note:hover {
  opacity: 0.8;
}

.note-name,
.note-message {
  color: #313064;
}
.title-note {
  color: #313064;
}
.stars {
  display: flex;
  flex-direction: row;
}
.star-note {
  width: 40px;
  height: auto;
  opacity: 0.5;
}

.checked {
  opacity: 1;
}

.star-rate {
  font-size: 10vh;
  cursor: pointer;
}

.rating-input {
  display: none;
}

/*****************************************************/
/*FOOTER*/
.footer-top {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
}
.footer-bottom {
  margin-left: 80px;
  margin-right: 80px;
}

.footer {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: 1fr 1fr;
  margin-left: 100px;
  grid-gap: 10px;
}

.title-footer {
  color: #bf7641;
  font-size: 13px;
}

.horaires {
  grid-column: 1/2;
  grid-row: 1;
  font-size: 12px;
}

.horaires-liste {
  font-family: "TT Chocolates", sans-serif;
  color: #faf8e8;
  font-size: 10px;
  list-style: none;
  line-height: 1.5;
  padding: 0;
}

.call-us {
  grid-column: 2/2;
  grid-row: 1;
}

.find-us {
  grid-column: 1/2;
  grid-row: 2;
}

.follow-us {
  grid-column: 2/2;
  grid-row: 2;
}

.rs {
  list-style: none;
  margin-left: -40px;
  display: flex;
  flex-direction: row;
}

.icon-rs {
  margin-top: 15px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.icon-rs:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition: all 1s ease;
  -moz-transform: scale(1.1);
  -moz-transition: all 1s ease;
  -ms-transform: scale(1.1);
  -ms-transition: all 1s ease;
}

.credits {
  font-size: 15px;
  text-align: center;
}

.footer-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-footer-login {
  width: 150px;
}
